@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    /* 設定預設字體 */
    font-family: "Noto Sans TC", sans-serif;
    @apply text-neutral-700;
  }
  button {
    @apply cursor-pointer;
  }
}

@theme {
  /* ===================================
   * COLORS 色彩系統
   * =================================== */
  /* primary 色系 */
  --color-primary-900: #381213;
  --color-primary-800: #5b1b1e;
  --color-primary-700: #812529;
  --color-primary-600: #aa2f35;
  --color-primary-500: #d33841;
  --color-primary-400: #ff424d;
  --color-primary-300: #ff7371;
  --color-primary-200: #ff9c97;
  --color-primary-100: #ffc1be;
  --color-primary: #ff424d;
  /* secondary 色系 */
  --color-secondary-900: #402f0e;
  --color-secondary-800: #6b4e11;
  --color-secondary-700: #9a7012;
  --color-secondary-600: #cb930e;
  --color-secondary-500: #ffb800;
  --color-secondary-400: #ffc449;
  --color-secondary-300: #ffd173;
  --color-secondary-200: #ffebbf;
  --color-secondary-100: #fff8e5;
  --color-secondary: #ffc449;
  /* neutral 色系 */
  --color-neutral-900: black;
  --color-neutral-700: #454545;
  --color-neutral-500: #888888;
  --color-neutral-300: #dbdbdb;
  --color-neutral-100: #f5f5f5;
  --color-neutral-0: white;
  /* 功能色系 */
  /* 綠色 */
  --color-green-900: #1b281f;
  --color-green-800: #294131;
  --color-green-700: #385b44;
  --color-green-600: #477757;
  --color-green-500: #57946c;
  --color-green-400: #75a785;
  --color-green-300: #93bb9f;
  --color-green-200: #b2ceba;
  --color-green-100: #d0e2d5;
  /* 藍色 */
  --color-blue-900: #132633;
  --color-blue-800: #1e3f52;
  --color-blue-700: #295874;
  --color-blue-600: #347397;
  --color-blue-500: #3f90bc;
  --color-blue-400: #4aade3;
  --color-blue-300: #7cbfe9;
  --color-blue-200: #a4d0f0;
  --color-blue-100: #c7e3f6;

  /* 粉色 */
  --color-pink-900: #33161d;
  --color-pink-800: #54232e;
  --color-pink-700: #773040;
  --color-pink-600: #9c3d54;
  --color-pink-500: #c34c68;
  --color-pink-400: #eb5a7d;
  --color-pink-300: #f38198;
  --color-pink-200: #f9a4b3;
  --color-pink-100: #fcc6d0;

  /* 紫色 */
  --color-purple-900: #33161d;
  --color-purple-800: #54232e;
  --color-purple-700: #773040;
  --color-purple-600: #9c3d54;
  --color-purple-500: #c34c68;
  --color-purple-400: #eb5a7d;
  --color-purple-300: #f38198;
  --color-purple-200: #f9a4b3;
  --color-purple-100: #d9c5f4;

  /* ===================================
   * TYPOGRAPHY 字體系統
   * =================================== */
  /* h1 */
  --text-h1: 2.5rem;
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 700;
  /* h2 */
  --text-h2: 2rem;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 700;
  /* h3 */
  --text-h3: 1.75rem;
  --text-h3--line-height: 1.2;
  --text-h3--font-weight: 700;
  /* h4 */
  --text-h4: 1.5rem;
  --text-h4--line-height: 1.2;
  --text-h4--font-weight: 700;
  /* h5 */
  --text-h5: 1.25rem;
  --text-h5--line-height: 1.2;
  --text-h5--font-weight: 700;
  /* h6 */
  --text-h6: 1rem;
  --text-h6--line-height: 1.2;
  --text-h6--font-weight: 700;
  /* text1 */
  --text-text1: 1.5rem;
  --text-text1--line-height: 1.5;
  --text-text1--font-weight: 400;
  /* text2 */
  --text-text2: 1.25rem;
  --text-text2--line-height: 1.5;
  --text-text2--font-weight: 400;
  /* text3 */
  --text-text3: 1rem;
  --text-text3--line-height: 1.5;
  --text-text3--font-weight: 400;
  /* text4 */
  --text-text4: 0.875rem;
  --text-text4--line-height: 1.5;
  --text-text4--font-weight: 400;
  /* text5*/
  --text-text5: 0.75rem;
  --text-text5--line-height: 1.5;
  --text-text5--font-weight: 400;

  /* ===================================
   * 模擬 bootstrap 中斷點
   * =================================== */

  /* 576px */
  --breakpoint-sm: 36rem;
  /* 768px */
  --breakpoint-md: 48rem;
  /* 992px */
  --breakpoint-lg: 62rem;
  /* 1200px */
  --breakpoint-xl: 75rem;
  /* 1400px */
  --breakpoint-2xl: 87.5rem;
}

/* 模擬 bootstrap 中斷點 */
@utility container {
  margin-inline: auto;
  padding-inline: 0.75rem;
  @variant sm {
    /* 540px */
    max-width: 33.75rem;
  }
  @variant md {
    /* 720px */
    max-width: 45rem;
  }
  @variant lg {
    /* 960px */
    max-width: 60rem;
  }
  @variant xl {
    /* 1140px */
    max-width: 71.25rem;
  }
  @variant 2xl {
    /* 1320px */
    max-width: 82.5rem;
  }
}
